# coding: utf-8

"""
    UltraCart Rest API V2

    UltraCart REST API Version 2  # noqa: E501

    OpenAPI spec version: 2.0.0
    Contact: support@ultracart.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from ultracart.api_client import ApiClient
from ultracart.configuration import Configuration

class ConversationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    @classmethod
    def fromApiKey(cls, apiKey, verify_ssl = True, debug = False):
        config = Configuration()
        config.api_key['x-ultracart-simple-key'] = apiKey
        config.debug = debug
        config.verify_ssl = verify_ssl

        api_client = ApiClient(configuration=config, header_name='X-UltraCart-Api-Version', header_value='2017-03-01')
        return ConversationApi(api_client)




    def delete_conversation_canned_message(self, conversation_canned_message_oid, **kwargs):  # noqa: E501
        """Delete a conversation canned message  # noqa: E501

        Delete a conversation canned message   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_conversation_canned_message(conversation_canned_message_oid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int conversation_canned_message_oid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_conversation_canned_message_with_http_info(conversation_canned_message_oid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_conversation_canned_message_with_http_info(conversation_canned_message_oid, **kwargs)  # noqa: E501
            return data

    def delete_conversation_canned_message_with_http_info(self, conversation_canned_message_oid, **kwargs):  # noqa: E501
        """Delete a conversation canned message  # noqa: E501

        Delete a conversation canned message   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_conversation_canned_message_with_http_info(conversation_canned_message_oid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int conversation_canned_message_oid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_canned_message_oid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_conversation_canned_message" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_canned_message_oid' is set
        if ('conversation_canned_message_oid' not in params or
                params['conversation_canned_message_oid'] is None):
            raise ValueError("Missing the required parameter `conversation_canned_message_oid` when calling `delete_conversation_canned_message`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_canned_message_oid' in params:
            path_params['conversation_canned_message_oid'] = params['conversation_canned_message_oid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/canned_messages/{conversation_canned_message_oid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_department(self, conversation_department_oid, **kwargs):  # noqa: E501
        """Delete a conversation department  # noqa: E501

        Delete a conversation department   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_department(conversation_department_oid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int conversation_department_oid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_department_with_http_info(conversation_department_oid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_department_with_http_info(conversation_department_oid, **kwargs)  # noqa: E501
            return data

    def delete_department_with_http_info(self, conversation_department_oid, **kwargs):  # noqa: E501
        """Delete a conversation department  # noqa: E501

        Delete a conversation department   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_department_with_http_info(conversation_department_oid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int conversation_department_oid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_department_oid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_department" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_department_oid' is set
        if ('conversation_department_oid' not in params or
                params['conversation_department_oid'] is None):
            raise ValueError("Missing the required parameter `conversation_department_oid` when calling `delete_department`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_department_oid' in params:
            path_params['conversation_department_oid'] = params['conversation_department_oid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/departments/{conversation_department_oid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_engagement(self, conversation_engagement_oid, **kwargs):  # noqa: E501
        """Delete a conversation engagement  # noqa: E501

        Delete a conversation engagement   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_engagement(conversation_engagement_oid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int conversation_engagement_oid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_engagement_with_http_info(conversation_engagement_oid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_engagement_with_http_info(conversation_engagement_oid, **kwargs)  # noqa: E501
            return data

    def delete_engagement_with_http_info(self, conversation_engagement_oid, **kwargs):  # noqa: E501
        """Delete a conversation engagement  # noqa: E501

        Delete a conversation engagement   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_engagement_with_http_info(conversation_engagement_oid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int conversation_engagement_oid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_engagement_oid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_engagement" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_engagement_oid' is set
        if ('conversation_engagement_oid' not in params or
                params['conversation_engagement_oid'] is None):
            raise ValueError("Missing the required parameter `conversation_engagement_oid` when calling `delete_engagement`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_engagement_oid' in params:
            path_params['conversation_engagement_oid'] = params['conversation_engagement_oid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/engagements/{conversation_engagement_oid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agent_keep_alive(self, **kwargs):  # noqa: E501
        """Agent keep alive  # noqa: E501

        Called periodically by the conversation API to keep the session alive.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_keep_alive(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_agent_keep_alive_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_agent_keep_alive_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_agent_keep_alive_with_http_info(self, **kwargs):  # noqa: E501
        """Agent keep alive  # noqa: E501

        Called periodically by the conversation API to keep the session alive.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_keep_alive_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent_keep_alive" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/agent/keepalive', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agent_websocket_authorization(self, **kwargs):  # noqa: E501
        """Get agent websocket authorization  # noqa: E501

        Retrieve a JWT to authorize an agent to make a websocket connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_websocket_authorization(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationAgentAuthResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_agent_websocket_authorization_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_agent_websocket_authorization_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_agent_websocket_authorization_with_http_info(self, **kwargs):  # noqa: E501
        """Get agent websocket authorization  # noqa: E501

        Retrieve a JWT to authorize an agent to make a websocket connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_websocket_authorization_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationAgentAuthResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent_websocket_authorization" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/agent/auth', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationAgentAuthResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation(self, conversation_uuid, **kwargs):  # noqa: E501
        """Retrieve a conversation  # noqa: E501

        Retrieve a conversation including the participants and messages   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :param int limit:
        :return: ConversationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
            return data

    def get_conversation_with_http_info(self, conversation_uuid, **kwargs):  # noqa: E501
        """Retrieve a conversation  # noqa: E501

        Retrieve a conversation including the participants and messages   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_with_http_info(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :param int limit:
        :return: ConversationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_uuid', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_uuid' is set
        if ('conversation_uuid' not in params or
                params['conversation_uuid'] is None):
            raise ValueError("Missing the required parameter `conversation_uuid` when calling `get_conversation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_uuid' in params:
            path_params['conversation_uuid'] = params['conversation_uuid']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/{conversation_uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_canned_messages(self, **kwargs):  # noqa: E501
        """Retrieve a list of canned messages ordered by short_code  # noqa: E501

        Retrieve a list of canned messages ordered by short_code   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_canned_messages(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationCannedMessagesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_canned_messages_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_canned_messages_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_conversation_canned_messages_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a list of canned messages ordered by short_code  # noqa: E501

        Retrieve a list of canned messages ordered by short_code   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_canned_messages_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationCannedMessagesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_canned_messages" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/canned_messages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationCannedMessagesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_context(self, conversation_uuid, **kwargs):  # noqa: E501
        """Get a webchat conversation context  # noqa: E501

        Get a webchat conversation context   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_context(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :return: ConversationWebchatContext
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_context_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_context_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
            return data

    def get_conversation_context_with_http_info(self, conversation_uuid, **kwargs):  # noqa: E501
        """Get a webchat conversation context  # noqa: E501

        Get a webchat conversation context   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_context_with_http_info(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :return: ConversationWebchatContext
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_uuid' is set
        if ('conversation_uuid' not in params or
                params['conversation_uuid'] is None):
            raise ValueError("Missing the required parameter `conversation_uuid` when calling `get_conversation_context`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_uuid' in params:
            path_params['conversation_uuid'] = params['conversation_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/{conversation_uuid}/context', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationWebchatContext',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_department_member_list(self, **kwargs):  # noqa: E501
        """Retrieve a list of possible department members  # noqa: E501

        Retrieve a list of possible department members   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_department_member_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationDepartmentMembersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_department_member_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_department_member_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_conversation_department_member_list_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a list of possible department members  # noqa: E501

        Retrieve a list of possible department members   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_department_member_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationDepartmentMembersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_department_member_list" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/department_members', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationDepartmentMembersResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_departments(self, **kwargs):  # noqa: E501
        """Retrieve a list of departments ordered by name  # noqa: E501

        Retrieve a list of departments ordered by name   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_departments(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationDepartmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_departments_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_departments_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_conversation_departments_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a list of departments ordered by name  # noqa: E501

        Retrieve a list of departments ordered by name   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_departments_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationDepartmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_departments" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/departments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationDepartmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_engagements(self, **kwargs):  # noqa: E501
        """Retrieve a list of engagements ordered by name  # noqa: E501

        Retrieve a list of engagements ordered by name   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_engagements(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationEngagementsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_engagements_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_engagements_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_conversation_engagements_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a list of engagements ordered by name  # noqa: E501

        Retrieve a list of engagements ordered by name   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_engagements_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationEngagementsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_engagements" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/engagements', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationEngagementsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_messages(self, conversation_uuid, since, **kwargs):  # noqa: E501
        """Retrieve conversation messages  # noqa: E501

        Retrieve conversation messages since a particular time   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_messages(conversation_uuid, since, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :param int since: (required)
        :param int limit:
        :return: ConversationMessagesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_messages_with_http_info(conversation_uuid, since, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_messages_with_http_info(conversation_uuid, since, **kwargs)  # noqa: E501
            return data

    def get_conversation_messages_with_http_info(self, conversation_uuid, since, **kwargs):  # noqa: E501
        """Retrieve conversation messages  # noqa: E501

        Retrieve conversation messages since a particular time   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_messages_with_http_info(conversation_uuid, since, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :param int since: (required)
        :param int limit:
        :return: ConversationMessagesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_uuid', 'since', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_messages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_uuid' is set
        if ('conversation_uuid' not in params or
                params['conversation_uuid'] is None):
            raise ValueError("Missing the required parameter `conversation_uuid` when calling `get_conversation_messages`")  # noqa: E501
        # verify the required parameter 'since' is set
        if ('since' not in params or
                params['since'] is None):
            raise ValueError("Missing the required parameter `since` when calling `get_conversation_messages`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_uuid' in params:
            path_params['conversation_uuid'] = params['conversation_uuid']  # noqa: E501
        if 'since' in params:
            path_params['since'] = params['since']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/{conversation_uuid}/messages/{since}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationMessagesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_multimedia_upload_url(self, extension, **kwargs):  # noqa: E501
        """Get a presigned conersation multimedia upload URL  # noqa: E501

        Get a presigned conersation multimedia upload URL   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_multimedia_upload_url(extension, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str extension: (required)
        :return: ConversationMultimediaUploadUrlResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_multimedia_upload_url_with_http_info(extension, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_multimedia_upload_url_with_http_info(extension, **kwargs)  # noqa: E501
            return data

    def get_conversation_multimedia_upload_url_with_http_info(self, extension, **kwargs):  # noqa: E501
        """Get a presigned conersation multimedia upload URL  # noqa: E501

        Get a presigned conersation multimedia upload URL   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_multimedia_upload_url_with_http_info(extension, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str extension: (required)
        :return: ConversationMultimediaUploadUrlResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['extension']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_multimedia_upload_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'extension' is set
        if ('extension' not in params or
                params['extension'] is None):
            raise ValueError("Missing the required parameter `extension` when calling `get_conversation_multimedia_upload_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'extension' in params:
            path_params['extension'] = params['extension']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/upload_url/{extension}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationMultimediaUploadUrlResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversation_webchat_queue_statuses(self, **kwargs):  # noqa: E501
        """Retrieve a conversation webchat queue statuses  # noqa: E501

        Retrieve a conversation webchat queue statuses including agent status and queue entries   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_webchat_queue_statuses(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationWebchatQueueStatusesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversation_webchat_queue_statuses_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_conversation_webchat_queue_statuses_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_conversation_webchat_queue_statuses_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a conversation webchat queue statuses  # noqa: E501

        Retrieve a conversation webchat queue statuses including agent status and queue entries   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversation_webchat_queue_statuses_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ConversationWebchatQueueStatusesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversation_webchat_queue_statuses" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/queues/statuses', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationWebchatQueueStatusesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversations(self, **kwargs):  # noqa: E501
        """Retrieve a list of conversation summaries newest to oldest  # noqa: E501

        Retrieve a list of conversation summaries that are ordered newest to oldest, include the most recent message and whether its been read.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversations(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str medium:
        :param str before:
        :param int limit: The maximum number of records to return on this one API call. (Max 200)
        :param int offset: Pagination of the record set.  Offset is a zero based index.
        :return: ConversationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversations_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_conversations_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_conversations_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a list of conversation summaries newest to oldest  # noqa: E501

        Retrieve a list of conversation summaries that are ordered newest to oldest, include the most recent message and whether its been read.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversations_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str medium:
        :param str before:
        :param int limit: The maximum number of records to return on this one API call. (Max 200)
        :param int offset: Pagination of the record set.  Offset is a zero based index.
        :return: ConversationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['medium', 'before', 'limit', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversations" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'medium' in params:
            query_params.append(('medium', params['medium']))  # noqa: E501
        if 'before' in params:
            query_params.append(('before', params['before']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('_limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('_offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversations_autocomplete(self, autocomplete_request, **kwargs):  # noqa: E501
        """Retrieve a list of matching terms for a search field  # noqa: E501

        Retrieve a list of matching terms for a search field   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversations_autocomplete(autocomplete_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationAutocompleteRequest autocomplete_request: Autocomplete Request (required)
        :return: ConversationAutocompleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversations_autocomplete_with_http_info(autocomplete_request, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversations_autocomplete_with_http_info(autocomplete_request, **kwargs)  # noqa: E501
            return data

    def get_conversations_autocomplete_with_http_info(self, autocomplete_request, **kwargs):  # noqa: E501
        """Retrieve a list of matching terms for a search field  # noqa: E501

        Retrieve a list of matching terms for a search field   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversations_autocomplete_with_http_info(autocomplete_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationAutocompleteRequest autocomplete_request: Autocomplete Request (required)
        :return: ConversationAutocompleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['autocomplete_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversations_autocomplete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'autocomplete_request' is set
        if ('autocomplete_request' not in params or
                params['autocomplete_request'] is None):
            raise ValueError("Missing the required parameter `autocomplete_request` when calling `get_conversations_autocomplete`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'autocomplete_request' in params:
            body_params = params['autocomplete_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/autocomplete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationAutocompleteResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_conversations_search(self, search_request, **kwargs):  # noqa: E501
        """Search conversations  # noqa: E501

        Search conversations   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversations_search(search_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationSearchRequest search_request: Search Request (required)
        :return: ConversationSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_conversations_search_with_http_info(search_request, **kwargs)  # noqa: E501
        else:
            (data) = self.get_conversations_search_with_http_info(search_request, **kwargs)  # noqa: E501
            return data

    def get_conversations_search_with_http_info(self, search_request, **kwargs):  # noqa: E501
        """Search conversations  # noqa: E501

        Search conversations   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_conversations_search_with_http_info(search_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationSearchRequest search_request: Search Request (required)
        :return: ConversationSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_conversations_search" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_request' is set
        if ('search_request' not in params or
                params['search_request'] is None):
            raise ValueError("Missing the required parameter `search_request` when calling `get_conversations_search`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'search_request' in params:
            body_params = params['search_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationSearchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def insert_conversation_canned_message(self, canned_message, **kwargs):  # noqa: E501
        """Insert a canned message  # noqa: E501

        Insert a canned message   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.insert_conversation_canned_message(canned_message, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationCannedMessage canned_message: Canned message (required)
        :return: ConversationCannedMessageResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.insert_conversation_canned_message_with_http_info(canned_message, **kwargs)  # noqa: E501
        else:
            (data) = self.insert_conversation_canned_message_with_http_info(canned_message, **kwargs)  # noqa: E501
            return data

    def insert_conversation_canned_message_with_http_info(self, canned_message, **kwargs):  # noqa: E501
        """Insert a canned message  # noqa: E501

        Insert a canned message   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.insert_conversation_canned_message_with_http_info(canned_message, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationCannedMessage canned_message: Canned message (required)
        :return: ConversationCannedMessageResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['canned_message']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method insert_conversation_canned_message" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'canned_message' is set
        if ('canned_message' not in params or
                params['canned_message'] is None):
            raise ValueError("Missing the required parameter `canned_message` when calling `insert_conversation_canned_message`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'canned_message' in params:
            body_params = params['canned_message']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/canned_messages', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationCannedMessageResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def insert_conversation_department(self, department, **kwargs):  # noqa: E501
        """Insert a department  # noqa: E501

        Insert a department   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.insert_conversation_department(department, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationDepartment department: Department (required)
        :return: ConversationDepartmentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.insert_conversation_department_with_http_info(department, **kwargs)  # noqa: E501
        else:
            (data) = self.insert_conversation_department_with_http_info(department, **kwargs)  # noqa: E501
            return data

    def insert_conversation_department_with_http_info(self, department, **kwargs):  # noqa: E501
        """Insert a department  # noqa: E501

        Insert a department   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.insert_conversation_department_with_http_info(department, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationDepartment department: Department (required)
        :return: ConversationDepartmentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['department']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method insert_conversation_department" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'department' is set
        if ('department' not in params or
                params['department'] is None):
            raise ValueError("Missing the required parameter `department` when calling `insert_conversation_department`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'department' in params:
            body_params = params['department']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/departments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationDepartmentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def insert_conversation_engagement(self, engagement, **kwargs):  # noqa: E501
        """Insert a engagement  # noqa: E501

        Insert a engagement   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.insert_conversation_engagement(engagement, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationEngagement engagement: Engagement (required)
        :return: ConversationEngagementResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.insert_conversation_engagement_with_http_info(engagement, **kwargs)  # noqa: E501
        else:
            (data) = self.insert_conversation_engagement_with_http_info(engagement, **kwargs)  # noqa: E501
            return data

    def insert_conversation_engagement_with_http_info(self, engagement, **kwargs):  # noqa: E501
        """Insert a engagement  # noqa: E501

        Insert a engagement   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.insert_conversation_engagement_with_http_info(engagement, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationEngagement engagement: Engagement (required)
        :return: ConversationEngagementResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['engagement']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method insert_conversation_engagement" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'engagement' is set
        if ('engagement' not in params or
                params['engagement'] is None):
            raise ValueError("Missing the required parameter `engagement` when calling `insert_conversation_engagement`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'engagement' in params:
            body_params = params['engagement']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/engagements', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationEngagementResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def join_conversation(self, conversation_uuid, **kwargs):  # noqa: E501
        """Join a conversation  # noqa: E501

        Join a conversation   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.join_conversation(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :param ConversationJoinRequest join_request: Join request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.join_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.join_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
            return data

    def join_conversation_with_http_info(self, conversation_uuid, **kwargs):  # noqa: E501
        """Join a conversation  # noqa: E501

        Join a conversation   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.join_conversation_with_http_info(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :param ConversationJoinRequest join_request: Join request
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_uuid', 'join_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method join_conversation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_uuid' is set
        if ('conversation_uuid' not in params or
                params['conversation_uuid'] is None):
            raise ValueError("Missing the required parameter `conversation_uuid` when calling `join_conversation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_uuid' in params:
            path_params['conversation_uuid'] = params['conversation_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'join_request' in params:
            body_params = params['join_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/{conversation_uuid}/join', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def leave_conversation(self, conversation_uuid, **kwargs):  # noqa: E501
        """Leave a conversation  # noqa: E501

        Leave a conversation   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.leave_conversation(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.leave_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.leave_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
            return data

    def leave_conversation_with_http_info(self, conversation_uuid, **kwargs):  # noqa: E501
        """Leave a conversation  # noqa: E501

        Leave a conversation   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.leave_conversation_with_http_info(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method leave_conversation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_uuid' is set
        if ('conversation_uuid' not in params or
                params['conversation_uuid'] is None):
            raise ValueError("Missing the required parameter `conversation_uuid` when calling `leave_conversation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_uuid' in params:
            path_params['conversation_uuid'] = params['conversation_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/{conversation_uuid}/leave', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def mark_read_conversation(self, conversation_uuid, **kwargs):  # noqa: E501
        """Mark a conversation as read  # noqa: E501

        Mark a conversation as read   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mark_read_conversation(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.mark_read_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.mark_read_conversation_with_http_info(conversation_uuid, **kwargs)  # noqa: E501
            return data

    def mark_read_conversation_with_http_info(self, conversation_uuid, **kwargs):  # noqa: E501
        """Mark a conversation as read  # noqa: E501

        Mark a conversation as read   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mark_read_conversation_with_http_info(conversation_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str conversation_uuid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conversation_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mark_read_conversation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'conversation_uuid' is set
        if ('conversation_uuid' not in params or
                params['conversation_uuid'] is None):
            raise ValueError("Missing the required parameter `conversation_uuid` when calling `mark_read_conversation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'conversation_uuid' in params:
            path_params['conversation_uuid'] = params['conversation_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/conversations/{conversation_uuid}/markread', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_conversation_canned_messages(self, search_request, **kwargs):  # noqa: E501
        """Search for canned messages by short_code  # noqa: E501

        Search for canned messages by short_code   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_conversation_canned_messages(search_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationCannedMessagesSearch search_request: Search request (required)
        :return: ConversationCannedMessagesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_conversation_canned_messages_with_http_info(search_request, **kwargs)  # noqa: E501
        else:
            (data) = self.search_conversation_canned_messages_with_http_info(search_request, **kwargs)  # noqa: E501
            return data

    def search_conversation_canned_messages_with_http_info(self, search_request, **kwargs):  # noqa: E501
        """Search for canned messages by short_code  # noqa: E501

        Search for canned messages by short_code   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_conversation_canned_messages_with_http_info(search_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationCannedMessagesSearch search_request: Search request (required)
        :return: ConversationCannedMessagesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_conversation_canned_messages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_request' is set
        if ('search_request' not in params or
                params['search_request'] is None):
            raise ValueError("Missing the required parameter `search_request` when calling `search_conversation_canned_messages`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'search_request' in params:
            body_params = params['search_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/conversation/canned_messages/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConversationCannedMessagesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def start_conversation(self, start_request, **kwargs):  # noqa: E501
        """Start a conversation  # noqa: E501

        Start a new conversation   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.start_conversation(start_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConversationStartRequest start_request: Start request (required)
        :return: ConversationStartResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.start_conversation_with_http_info(start_request, **kwargs)  # noqa: E501
        else:
            (data) = self.start_conversation_with_http_info(start_request, **kwargs)  # noqa: E501
            return data

    def start_conversation_with_http_info(self, start_request, **kwargs):  # noqa: E501
        """Start a conversation  # noqa: E501

        Start a new conversation   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.start_conversation_with_http_info(start_request, async_req=True)
        >>> result = thread.get()

[...]
