# coding: utf-8

"""
    UltraCart Rest API V2

    This is the next generation UltraCart REST API...

    OpenAPI spec version: 2.0.0
    Contact: support@ultracart.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..api_client import ApiClient


class CouponApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_coupon(self, coupon_oid, **kwargs):
        """
        Delete a coupon
        Delete a coupon on the UltraCart account. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_coupon(coupon_oid, async=True)
        >>> result = thread.get()

        :param async bool
        :param int coupon_oid: The coupon_oid to delete. (required)
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_coupon_with_http_info(coupon_oid, **kwargs)
        else:
            (data) = self.delete_coupon_with_http_info(coupon_oid, **kwargs)
            return data

    def delete_coupon_with_http_info(self, coupon_oid, **kwargs):
        """
        Delete a coupon
        Delete a coupon on the UltraCart account. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_coupon_with_http_info(coupon_oid, async=True)
        >>> result = thread.get()

        :param async bool
        :param int coupon_oid: The coupon_oid to delete. (required)
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coupon_oid']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_coupon" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'coupon_oid' is set
        if ('coupon_oid' not in params) or (params['coupon_oid'] is None):
            raise ValueError("Missing the required parameter `coupon_oid` when calling `delete_coupon`")


        collection_formats = {}

        path_params = {}
        if 'coupon_oid' in params:
            path_params['coupon_oid'] = params['coupon_oid']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/{coupon_oid}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def generate_coupon_codes(self, coupon_oid, coupon_codes_request, **kwargs):
        """
        Generates one time codes for a coupon
        Generate one time codes for a coupon 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.generate_coupon_codes(coupon_oid, coupon_codes_request, async=True)
        >>> result = thread.get()

        :param async bool
        :param int coupon_oid: The coupon oid to generate codes. (required)
        :param CouponCodesRequest coupon_codes_request: Coupon code generation parameters (required)
        :return: CouponCodesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.generate_coupon_codes_with_http_info(coupon_oid, coupon_codes_request, **kwargs)
        else:
            (data) = self.generate_coupon_codes_with_http_info(coupon_oid, coupon_codes_request, **kwargs)
            return data

    def generate_coupon_codes_with_http_info(self, coupon_oid, coupon_codes_request, **kwargs):
        """
        Generates one time codes for a coupon
        Generate one time codes for a coupon 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.generate_coupon_codes_with_http_info(coupon_oid, coupon_codes_request, async=True)
        >>> result = thread.get()

        :param async bool
        :param int coupon_oid: The coupon oid to generate codes. (required)
        :param CouponCodesRequest coupon_codes_request: Coupon code generation parameters (required)
        :return: CouponCodesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coupon_oid', 'coupon_codes_request']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_coupon_codes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'coupon_oid' is set
        if ('coupon_oid' not in params) or (params['coupon_oid'] is None):
            raise ValueError("Missing the required parameter `coupon_oid` when calling `generate_coupon_codes`")
        # verify the required parameter 'coupon_codes_request' is set
        if ('coupon_codes_request' not in params) or (params['coupon_codes_request'] is None):
            raise ValueError("Missing the required parameter `coupon_codes_request` when calling `generate_coupon_codes`")


        collection_formats = {}

        path_params = {}
        if 'coupon_oid' in params:
            path_params['coupon_oid'] = params['coupon_oid']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'coupon_codes_request' in params:
            body_params = params['coupon_codes_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/{coupon_oid}/generate_codes', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponCodesResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def generate_one_time_codes_by_merchant_code(self, merchant_code, coupon_codes_request, **kwargs):
        """
        Generates one time codes for a coupon
        Generate one time codes for a coupon 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.generate_one_time_codes_by_merchant_code(merchant_code, coupon_codes_request, async=True)
        >>> result = thread.get()

        :param async bool
        :param str merchant_code: The merchant code to generate one time codes. (required)
        :param CouponCodesRequest coupon_codes_request: Coupon code generation parameters (required)
        :return: CouponCodesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.generate_one_time_codes_by_merchant_code_with_http_info(merchant_code, coupon_codes_request, **kwargs)
        else:
            (data) = self.generate_one_time_codes_by_merchant_code_with_http_info(merchant_code, coupon_codes_request, **kwargs)
            return data

    def generate_one_time_codes_by_merchant_code_with_http_info(self, merchant_code, coupon_codes_request, **kwargs):
        """
        Generates one time codes for a coupon
        Generate one time codes for a coupon 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.generate_one_time_codes_by_merchant_code_with_http_info(merchant_code, coupon_codes_request, async=True)
        >>> result = thread.get()

        :param async bool
        :param str merchant_code: The merchant code to generate one time codes. (required)
        :param CouponCodesRequest coupon_codes_request: Coupon code generation parameters (required)
        :return: CouponCodesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_code', 'coupon_codes_request']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_one_time_codes_by_merchant_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_code' is set
        if ('merchant_code' not in params) or (params['merchant_code'] is None):
            raise ValueError("Missing the required parameter `merchant_code` when calling `generate_one_time_codes_by_merchant_code`")
        # verify the required parameter 'coupon_codes_request' is set
        if ('coupon_codes_request' not in params) or (params['coupon_codes_request'] is None):
            raise ValueError("Missing the required parameter `coupon_codes_request` when calling `generate_one_time_codes_by_merchant_code`")


        collection_formats = {}

        path_params = {}
        if 'merchant_code' in params:
            path_params['merchant_code'] = params['merchant_code']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'coupon_codes_request' in params:
            body_params = params['coupon_codes_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/merchant_code/{merchant_code}/generate_codes', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponCodesResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_coupon(self, coupon_oid, **kwargs):
        """
        Retrieve a coupon
        Retrieves a single coupon using the specified coupon profile oid. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupon(coupon_oid, async=True)
        >>> result = thread.get()

        :param async bool
        :param int coupon_oid: The coupon oid to retrieve. (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_coupon_with_http_info(coupon_oid, **kwargs)
        else:
            (data) = self.get_coupon_with_http_info(coupon_oid, **kwargs)
            return data

    def get_coupon_with_http_info(self, coupon_oid, **kwargs):
        """
        Retrieve a coupon
        Retrieves a single coupon using the specified coupon profile oid. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupon_with_http_info(coupon_oid, async=True)
        >>> result = thread.get()

        :param async bool
        :param int coupon_oid: The coupon oid to retrieve. (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coupon_oid', 'expand']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_coupon" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'coupon_oid' is set
        if ('coupon_oid' not in params) or (params['coupon_oid'] is None):
            raise ValueError("Missing the required parameter `coupon_oid` when calling `get_coupon`")


        collection_formats = {}

        path_params = {}
        if 'coupon_oid' in params:
            path_params['coupon_oid'] = params['coupon_oid']

        query_params = []
        if 'expand' in params:
            query_params.append(('_expand', params['expand']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/{coupon_oid}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_coupon_by_merchant_code(self, merchant_code, **kwargs):
        """
        Retrieve a coupon by merchant code
        Retrieves a single coupon using the specified merchant code. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupon_by_merchant_code(merchant_code, async=True)
        >>> result = thread.get()

        :param async bool
        :param str merchant_code: The coupon merchant code to retrieve. (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_coupon_by_merchant_code_with_http_info(merchant_code, **kwargs)
        else:
            (data) = self.get_coupon_by_merchant_code_with_http_info(merchant_code, **kwargs)
            return data

    def get_coupon_by_merchant_code_with_http_info(self, merchant_code, **kwargs):
        """
        Retrieve a coupon by merchant code
        Retrieves a single coupon using the specified merchant code. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupon_by_merchant_code_with_http_info(merchant_code, async=True)
        >>> result = thread.get()

        :param async bool
        :param str merchant_code: The coupon merchant code to retrieve. (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_code', 'expand']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_coupon_by_merchant_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_code' is set
        if ('merchant_code' not in params) or (params['merchant_code'] is None):
            raise ValueError("Missing the required parameter `merchant_code` when calling `get_coupon_by_merchant_code`")


        collection_formats = {}

        path_params = {}
        if 'merchant_code' in params:
            path_params['merchant_code'] = params['merchant_code']

        query_params = []
        if 'expand' in params:
            query_params.append(('_expand', params['expand']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/merchant_code/{merchant_code}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_coupons(self, **kwargs):
        """
        Retrieve coupons
        Retrieves coupons for this account.  If no parameters are specified, all coupons will be returned.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupons(async=True)
        >>> result = thread.get()

        :param async bool
        :param str merchant_code: Merchant code
        :param str description: Description
        :param str coupon_type: Coupon type
        :param str start_date_begin: Start date begin
        :param str start_date_end: Start date end
        :param str expiration_date_begin: Expiration date begin
        :param str expiration_date_end: Expiration date end
        :param int affiliate_oid: Affiliate oid
        :param bool exclude_expired: Exclude expired
        :param int limit: The maximum number of records to return on this one API call. (Max 200)
        :param int offset: Pagination of the record set.  Offset is a zero based index.
        :param str sort: The sort order of the coupons.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_coupons_with_http_info(**kwargs)
        else:
            (data) = self.get_coupons_with_http_info(**kwargs)
            return data

    def get_coupons_with_http_info(self, **kwargs):
        """
        Retrieve coupons
        Retrieves coupons for this account.  If no parameters are specified, all coupons will be returned.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupons_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str merchant_code: Merchant code
        :param str description: Description
        :param str coupon_type: Coupon type
        :param str start_date_begin: Start date begin
        :param str start_date_end: Start date end
        :param str expiration_date_begin: Expiration date begin
        :param str expiration_date_end: Expiration date end
        :param int affiliate_oid: Affiliate oid
        :param bool exclude_expired: Exclude expired
        :param int limit: The maximum number of records to return on this one API call. (Max 200)
        :param int offset: Pagination of the record set.  Offset is a zero based index.
        :param str sort: The sort order of the coupons.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_code', 'description', 'coupon_type', 'start_date_begin', 'start_date_end', 'expiration_date_begin', 'expiration_date_end', 'affiliate_oid', 'exclude_expired', 'limit', 'offset', 'sort', 'expand']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_coupons" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'merchant_code' in params:
            query_params.append(('merchant_code', params['merchant_code']))
        if 'description' in params:
            query_params.append(('description', params['description']))
        if 'coupon_type' in params:
            query_params.append(('coupon_type', params['coupon_type']))
        if 'start_date_begin' in params:
            query_params.append(('start_date_begin', params['start_date_begin']))
        if 'start_date_end' in params:
            query_params.append(('start_date_end', params['start_date_end']))
        if 'expiration_date_begin' in params:
            query_params.append(('expiration_date_begin', params['expiration_date_begin']))
        if 'expiration_date_end' in params:
            query_params.append(('expiration_date_end', params['expiration_date_end']))
        if 'affiliate_oid' in params:
            query_params.append(('affiliate_oid', params['affiliate_oid']))
        if 'exclude_expired' in params:
            query_params.append(('exclude_expired', params['exclude_expired']))
        if 'limit' in params:
            query_params.append(('_limit', params['limit']))
        if 'offset' in params:
            query_params.append(('_offset', params['offset']))
        if 'sort' in params:
            query_params.append(('_sort', params['sort']))
        if 'expand' in params:
            query_params.append(('_expand', params['expand']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponsResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_coupons_by_query(self, coupon_query, **kwargs):
        """
        Retrieve coupons by query
        Retrieves coupons from the account.  If no parameters are specified, all coupons will be returned.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupons_by_query(coupon_query, async=True)
        >>> result = thread.get()

        :param async bool
        :param CouponQuery coupon_query: Coupon query (required)
        :param int limit: The maximum number of records to return on this one API call. (Max 200)
        :param int offset: Pagination of the record set.  Offset is a zero based index.
        :param str sort: The sort order of the coupons.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_coupons_by_query_with_http_info(coupon_query, **kwargs)
        else:
            (data) = self.get_coupons_by_query_with_http_info(coupon_query, **kwargs)
            return data

    def get_coupons_by_query_with_http_info(self, coupon_query, **kwargs):
        """
        Retrieve coupons by query
        Retrieves coupons from the account.  If no parameters are specified, all coupons will be returned.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_coupons_by_query_with_http_info(coupon_query, async=True)
        >>> result = thread.get()

        :param async bool
        :param CouponQuery coupon_query: Coupon query (required)
        :param int limit: The maximum number of records to return on this one API call. (Max 200)
        :param int offset: Pagination of the record set.  Offset is a zero based index.
        :param str sort: The sort order of the coupons.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coupon_query', 'limit', 'offset', 'sort', 'expand']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_coupons_by_query" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'coupon_query' is set
        if ('coupon_query' not in params) or (params['coupon_query'] is None):
            raise ValueError("Missing the required parameter `coupon_query` when calling `get_coupons_by_query`")


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('_limit', params['limit']))
        if 'offset' in params:
            query_params.append(('_offset', params['offset']))
        if 'sort' in params:
            query_params.append(('_sort', params['sort']))
        if 'expand' in params:
            query_params.append(('_expand', params['expand']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'coupon_query' in params:
            body_params = params['coupon_query']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/query', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponsResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_editor_values(self, **kwargs):
        """
        Retrieve values needed for a coupon editor
        Retrieve values needed for a coupon editor 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_editor_values(async=True)
        >>> result = thread.get()

        :param async bool
        :return: CouponEditorValues
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_editor_values_with_http_info(**kwargs)
        else:
            (data) = self.get_editor_values_with_http_info(**kwargs)
            return data

    def get_editor_values_with_http_info(self, **kwargs):
        """
        Retrieve values needed for a coupon editor
        Retrieve values needed for a coupon editor 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_editor_values_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: CouponEditorValues
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_editor_values" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/editor_values', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponEditorValues',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def insert_coupon(self, coupon, **kwargs):
        """
        Insert a coupon
        Insert a coupon on the UltraCart account. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.insert_coupon(coupon, async=True)
        >>> result = thread.get()

        :param async bool
        :param Coupon coupon: Coupon to insert (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.insert_coupon_with_http_info(coupon, **kwargs)
        else:
            (data) = self.insert_coupon_with_http_info(coupon, **kwargs)
            return data

    def insert_coupon_with_http_info(self, coupon, **kwargs):
        """
        Insert a coupon
        Insert a coupon on the UltraCart account. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.insert_coupon_with_http_info(coupon, async=True)
        >>> result = thread.get()

        :param async bool
        :param Coupon coupon: Coupon to insert (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coupon', 'expand']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method insert_coupon" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'coupon' is set
        if ('coupon' not in params) or (params['coupon'] is None):
            raise ValueError("Missing the required parameter `coupon` when calling `insert_coupon`")


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'expand' in params:
            query_params.append(('_expand', params['expand']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'coupon' in params:
            body_params = params['coupon']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json; charset=UTF-8'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def update_coupon(self, coupon, coupon_oid, **kwargs):
        """
        Update a coupon
        Update a coupon on the UltraCart account. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_coupon(coupon, coupon_oid, async=True)
        >>> result = thread.get()

        :param async bool
        :param Coupon coupon: Coupon to update (required)
        :param int coupon_oid: The coupon_oid to update. (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_coupon_with_http_info(coupon, coupon_oid, **kwargs)
        else:
            (data) = self.update_coupon_with_http_info(coupon, coupon_oid, **kwargs)
            return data

    def update_coupon_with_http_info(self, coupon, coupon_oid, **kwargs):
        """
        Update a coupon
        Update a coupon on the UltraCart account. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_coupon_with_http_info(coupon, coupon_oid, async=True)
        >>> result = thread.get()

        :param async bool
        :param Coupon coupon: Coupon to update (required)
        :param int coupon_oid: The coupon_oid to update. (required)
        :param str expand: The object expansion to perform on the result.  See documentation for examples
        :return: CouponResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['coupon', 'coupon_oid', 'expand']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_coupon" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'coupon' is set
        if ('coupon' not in params) or (params['coupon'] is None):
            raise ValueError("Missing the required parameter `coupon` when calling `update_coupon`")
        # verify the required parameter 'coupon_oid' is set
        if ('coupon_oid' not in params) or (params['coupon_oid'] is None):
            raise ValueError("Missing the required parameter `coupon_oid` when calling `update_coupon`")


        collection_formats = {}

        path_params = {}
        if 'coupon_oid' in params:
            path_params['coupon_oid'] = params['coupon_oid']

        query_params = []
        if 'expand' in params:
            query_params.append(('_expand', params['expand']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'coupon' in params:
            body_params = params['coupon']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json; charset=UTF-8'])

        # Authentication setting
        auth_settings = ['ultraCartOauth', 'ultraCartSimpleApiKey']

        return self.api_client.call_api('/coupon/coupons/{coupon_oid}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CouponResponse',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
